@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap');

:root{
    --primary-color:#FFFFFF; 
    --secondary-color:green;
}
body{
    
    font-family: 'Jura', sans-serif;
    background-image: url(images/security2.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 0px
    
 
}


nav{
    background-color:var(--primary-color);
    padding: 1rem 1rem;
}


    h1{
        text-align: center;
        color: var(--secondary-color); 
      
    }
textarea{
    height: 13vh;
    width: 500px;
    padding: 1rem 1rem;
    margin: 2rem 1rem;

}
button{
    display: block;
    margin: auto;
    padding: 1rem 1rem;
    width:150px;
    font-family: 'Jura', sans-serif;
    background-color: var(--primary-color);
    color:var(--secondary-color);
    font-size: larger;
    font-weight: bold;
    border-radius: 0.5rem;
   
}

p{
    color: var(--secondary-color);
    font-weight: bold;
    padding: 2rem 2rem;
    text-align: center;
    margin: 1rem 1rem;
}
footer{
    background-color:var(--primary-color);
    padding-bottom: 1.5rem;
}

